In [46]:
import pandas as pd
import re

### Splits states and cities
Note: Go into university_ranking.csv and change "Rutgers: the state of ... ..." to just "Rutgers" prior to reading the csv. There are 2 files for Rutgers btw :)

In [47]:
colleges = pd.read_csv("university_ranking.csv", header=None)

In [48]:
colleges.head()

   0  1                       2              3       4
0  1  1  'Princeton University'  Princeton, NJ  $41820
1  2  2    'Harvard University'  Cambridge, MA  $43938
2  3  3       'Yale University'  New Haven, CT  $45800
3  4  4   'Columbia University'   New York, NY  $51008
4  5  4   'Stanford University'   Stanford, CA  $44757

In [49]:
new = colleges[3].apply(lambda x: pd.Series([i.strip() for i in x.split(',')]))

In [50]:
colleges = pd.concat([colleges, new], axis=1)

In [51]:
colleges.columns = ['delete', 'rank', 'college', 'delete', 'tuition', 'city', 'state']

In [52]:
del colleges['delete']

In [53]:
colleges.columns = ['0', '1', '2', '3','4']

In [54]:
colleges.to_csv("colleges.csv", index=None, headers=None)

---

In [55]:
with open("colleges.csv") as file:
        colleges = {line.split(',')[1].strip('"'): {"rank":line.split(',')[0],
                                        "tuition":line.split(',')[2].strip('$'),
                                        "city":line.split(',')[3],
                                        "state":line.split(',')[4].strip('\n')} for line in file}

In [58]:
for college in colleges:
    money = re.sub("\$", "", colleges[college]["tuition"])
    newmoney = re.sub("in-state: ", "", money)
    clean = re.sub(" out-of-state: ", ",", newmoney)
    new = clean.split(',')
    if len(new) <= 1:
        if new[0] == '':
            tuition = 0
        else:
            tuition = int(new[0])
    else:
        in_state = int(new[0])
        out_state = int(new[1])