In [1]:
import pandas as pd

In [4]:
ocup = pd.read_csv("/Users/briandeshazer/Desktop/oe.occupation",
                  engine="python", sep="\t",
                  index_col=False,
                  converters={"occupation_code": lambda x: str(x)})

In [5]:
ocup.head()

,occupation_code,occupation_name,display_level,selectable,sort_sequence
0,000000,All Occupations,0,T,0
1,110000,Management Occupations,0,T,1
2,111000,Top Executives,1,T,2
3,111011,Chief Executives,3,T,3
4,111021,General and Operations Managers,3,T,4

In [6]:
del ocup['display_level']

In [7]:
del ocup['selectable']

In [8]:
del ocup['sort_sequence']

In [10]:
ocup.to_csv('oe_ocup.csv', index=None)