In [1]:
import pandas as pd

In [11]:
oe_area = pd.read_csv("/Users/briandeshazer/Desktop/oe.area", 
                      engine="python", sep="\t",
                      index_col=False,
                      converters={'state_code': lambda x: str(x), 'area_code': lambda x: str(x)})

In [13]:
oe_area['state'] = "0"

In [16]:
oe_area1 = oe_area[oe_area['area_name'].str.contains('nonmetropolitan') != True]

In [19]:
oe_area1['state'] = oe_area1.area_name.apply(lambda x: x.split(',')[1] if len(x.split(','))>1 else "")

/Users/briandeshazer/Developer/Moovn/.direnv/python-3.4.3/lib/python3.4/site-packages/IPython/kernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [21]:
oe_area = oe_area1

In [22]:
del oe_area1

In [23]:
oe_area['area_name'] = oe_area.area_name.apply(lambda x: x.split(',')[0] if len(x.split(','))>1 else x)

/Users/briandeshazer/Developer/Moovn/.direnv/python-3.4.3/lib/python3.4/site-packages/IPython/kernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [24]:
oe_area.head()

  state_code area_code areatype_code          area_name state
0         00   0000000             N           National
1         01   0011500             M    Anniston-Oxford    AL
2         01   0012220             M     Auburn-Opelika    AL
3         01   0013820             M  Birmingham-Hoover    AL
4         01   0019460             M            Decatur    AL

In [25]:
oe_area['state'][oe_area['state'] == ""] = '0'

/Users/briandeshazer/Developer/Moovn/.direnv/python-3.4.3/lib/python3.4/site-packages/pandas/core/generic.py:3636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/Users/briandeshazer/Developer/Moovn/.direnv/python-3.4.3/lib/python3.4/site-packages/IPython/core/interactiveshell.py:3035: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [26]:
oe_area.head()

  state_code area_code areatype_code          area_name state
0         00   0000000             N           National     0
1         01   0011500             M    Anniston-Oxford    AL
2         01   0012220             M     Auburn-Opelika    AL
3         01   0013820             M  Birmingham-Hoover    AL
4         01   0019460             M            Decatur    AL

In [31]:
oe_area['area_name'] = oe_area['area_name'].str.replace(r'-', ' ')

/Users/briandeshazer/Developer/Moovn/.direnv/python-3.4.3/lib/python3.4/site-packages/IPython/kernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [34]:
oe_area.head()

  state_code area_code areatype_code          area_name state
0         00   0000000             N           National     0
1         01   0011500             M    Anniston Oxford    AL
2         01   0012220             M     Auburn Opelika    AL
3         01   0013820             M  Birmingham Hoover    AL
4         01   0019460             M            Decatur    AL

In [33]:
del oe_area['area']

In [37]:
oe_area.to_csv('oe_area.csv', index=None)